// RESET RULES
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
// BODY MAIN RULES
body{
    font-family: 'Montserrat', sans-serif;
    font-size: $standardFontSize;
}
// CONTAINERS RULES IN EACH SECTION
.container{
    width: 65%;
    margin: auto;
}

.largeContainer{
    width: 100%;
}
// UL - LI - LINK BEHAVIOUR RULES
ul{
    list-style: none;
}
a{
    text-decoration: none;
    cursor: pointer;
}
// MIXIN BUTTONS
@mixin fullbutton {
    text-transform: uppercase;
    padding:0.4rem 1rem;
    border: 1px solid transparent;
    border-radius: 0.3rem;
    background-color: $waterGreen;
    color: $whiteText;
    cursor: pointer;
    transition: all 0.5s;
                a{
                    color: $whiteText;
                };
                &:hover{
                    background-color: $transpWaterGreen;
                    color: $waterGreen;
                    border: 1px solid $waterGreen;
                    transform: scale(1.2);
                    a{
                        color:$waterGreen
                    }
                }

}
@mixin emptybutton {
    text-transform: uppercase;
    padding:0.4rem 1rem;
    border: 1px solid $waterGreen;
    border-radius: 0.3rem;
    color: $waterGreen;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.5s;
    &:hover{
        background-color: $transpWaterGreen;
        color: $waterGreen;
        transform: scale(1.2);
    }
}

// WATERGREEN SPAN OVER SECTIONS TITLES
@mixin overSectionSpan {
    color: $waterGreen;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
}

// H2 IN ALL SECTIONS
@mixin sectionsH2 {
    font-size: 35px;
    font-weight: 900;
    padding: 20px 0;
    >span{
        padding: 0 0.5rem;
        border-radius: 5px;
    };
}

@mixin sectionsH3 {
    font-size: 18px;
}

@mixin logo {
    font-size: $logoSize;
    font-weight: bold;
    border-radius: 20px;
    font-size: 16px;
        .nex{
            color: $waterGreen;
            padding: 0.5rem 0.2rem 0.5rem 1rem;
            background-color: $transpWaterGreen;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
        };
        .gen{
            color: $darkText;
            padding-left: 0.2rem;
        };
}