.excellence{
    background-color: $lightBG;
    padding: 60px 0;
    .container{

        >span{
            @include overSectionSpan;
        };
        >h2{
            @include sectionsH2;
            color: $darkText;
            span{
                color: $waterGreen;
                background-color: $transpWaterGreen;
            };
        };
        >.services{
            display: flex;
            justify-content: space-between;
            color: $greyText;
            p{
                width: 80%;
            };
            button{
                @include fullbutton;
            };
        };
        // CARDS AREA BELOW
        >.servicesCards{

            >.serviceCard{
                background-color: white;
                width: calc(100% / 3);
                // height: 200px;
                border-radius: 10px;
                padding: 40px 35px;
                display: flex;
                flex-direction: column;
                h3{
                    @include sectionsH3;
                    margin: 15px 0;
                };
                p{
                    color: $greyText;
                };
                .serviceIcons{
                    display: flex;
                    justify-content: space-between;
                    &:first-child{
                        font-size: 30px;
                        color: $waterGreen
                    };
                    .fa-arrow-right{
                        font-size: 16px;
                        color: $cardsArrow;
                    }
                    
                }
            }
        }
    }
}