.excellence{
    background-color: $lightBG;
    padding: 60px 0;
    .container{

        >span{
            @include overSectionSpan;
        };
        >h2{
            @include sectionsH2;
            color: $darkText;
            span{
                color: $waterGreen;
                background-color: $transpWaterGreen;
            };
        };
        >.services{
            display: flex;
            justify-content: space-between;
            color: $greyText;
            p{
                width: 80%;
            };
            button{
                @include fullbutton;
            };
        };
        // CARDS AREA BELOW
        
    }
}