.excellence{
    background-color: $lightBG;
    padding: 80px 0;
    .container{

        >span{
            @include overSectionSpan;
        };
        >h2{
            @include sectionsH2;
            color: $darkText;
            span{
                color: $waterGreen;
                background-color: $transpWaterGreen;
            };
        };
        >.services{
            display: flex;
            justify-content: space-between;
            color: $greyText;
            p{
                width: 80%;
            };
            button{
                @include fullbutton;
            };
        };
        // CARDS AREA BELOW
        >.servicesCards{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            margin: 30px 0;
            >.serviceCard{
                display: flex;
                flex-direction: column;
                background-color: white;
                width: calc(100% / 3.15);
                margin: 12px 0;
                border-radius: 10px;
                padding: 40px 35px;
                transition: 0.7s;
                &:nth-child(2),
                &:nth-child(5){
                    margin: 12px auto;
                }
                h3{
                    @include sectionsH3;
                    margin: 18px 0;
                    color: $darkText;
                };
                p{
                    color: $greyText;
                };
                .serviceIcons{
                    display: flex;
                    justify-content: space-between;
                    &:first-child{
                        font-size: 30px;
                        color: $waterGreen
                    };
                    .fa-arrow-right{
                        font-size: 16px;
                        color: $cardsArrow;
                    }
                    
                };
                &:hover{
                    background-color: $ligthWaterGreen;
                    cursor: pointer;
                    
                    transform: scale(0.9);
                    h3{
                        color: $whiteText;
                    }
                    p{
                        color: $whiteText;
                    }
                    i{
                        color: $whiteText;
                        
                    }
                }
            }
        }
    }
}