.jumbotron{
    background-image: url('../../dist/images/bg-6.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 35%;
    .herosection{
        padding: 100px 0;
        .jumbotextBlock{
            width: 50%;
            margin-left: auto;
            span{
                @include overSectionSpan;
                font-size: $standardFontSize;
            };

            h1{
                font-size: 50px;
                font-weight: 900;
                color: $darkText;
                margin-bottom: 10px;
            };

            form{
                input{
                    padding: 0.8rem;
                    width: 47%;
                    margin: 5px 5px 5px 0;
                    border-style: none;
                    border-radius: 5px;
                    background-color: rgba(211, 211, 211, 0.597);
                }
                
                span{
                    position: relative;
                    i{
                        position: absolute;
                        right: 25px;
                        top: 50%;
                        color: $greyText;
                        transform: translateY(-50%)
                    }
                }
            };

            .jumbobutton1{
                @include fullbutton;
                margin: 5px 5px 0 0;
            }
            .jumbobutton2{
                @include emptybutton;
                margin-top: 5px;
            }
        }
    }
}