.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    padding-top:1rem;

    .logoLink{
        @include logo;
    }
    
    ul{
        display: flex;
        align-items: center;
        li{
            margin-left:1.5rem;
            a{
                color: $darkText;
            };
            button{
                @include fullbutton;
                a{
                    color: $whiteText;
                }
            }
        }
    }
}