.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    padding-top:1rem;

    .logoLink{
        font-size: $logoSize;
        font-weight: bold;
        border-radius: 20px;
        font-size: 15px;
    }
    .nex{
        color: $waterGreen;
        padding: 0.5rem 0.2rem 0.5rem 1rem;
        background-color: $transpWaterGreen;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }
    .gen{
        color: $darkText;
        padding-left: 0.2rem;
    }
    
    ul{
        display: flex;
        align-items: center;
        li{
            margin-left:1.5rem;
            a{
                color: $darkText;
            };
            button{
                @include fullbutton;
                a{
                    color: $whiteText;
                }
            }
        }
    }
}