// COLORS
$topLabel:#21333e;

$lightText:#b9c3d0;

$whiteText:white;

$darkText:#21333e;

$waterGreen:#058283;

$inputBackG:#dadcdb;

// FONT SIZE
$fontSizeTopLabel: 11px;

$standardFontSize: 13px;

$logoSize: 14px;


