// COLORS
$topLabel:#21333e;

$whiteText:white;

$lightText:#b9c3d0;

$greyText:#697881;

$darkText:#21333e;

$waterGreen:#058283;

$ligthWaterGreen:#00a6a6;

$cardsArrow:#82c1c1;

$transpWaterGreen:rgba(191,219,220,255);

$transpDarkWater:rgba(14,39,45,255);

$inputBackG:#dadcdb;

$darkBG:#111117;

$lightBG:#eef4ed;

// FONT SIZE
$fontSizeTopLabel: 11px;

$standardFontSize: 13px;

$logoSize: 14px;


